/venv/
.DS_Store
/.idea
src/strom/__pycache__
/config
scripts/*.ipynb
/.vscode
tests/__pycache__/*
/strom.egg-info
data/*
src/__pycache__/__init__.cpython-312.pyc
__pycache__/
*.pyc
*.ipynb
plots/*
.aider*